# Python for Data 3: Basic Data Types

# Integers

In [1]:
a = 10
# creating a var "a" which stores 10 as value - hey hello hi

In [2]:
a

10

In [3]:
type(a)

int

In [4]:
type(1000)

int

Integers or "ints" for short, are whole-numbered numeric values. Any positive or negative number (or 0) without a decimal is an integer in Python. Integer values have unlimited precision, meaning an integer is exact. You can check the type of a Python object with the type() function. Let's run type() on an integer:

In [5]:
a=12

In [6]:
type(a)

int

In [7]:
type(12)

int

Above we see that the type of 12 is of type "int". You can also use the function isinstance() to check whether an object is an instance of a given type:

In [10]:
# Check if 12 is an instance of type "int"

isinstance(12, int)

True

The code output True confirms that 12 is an int.

Integers support all the basic math operations we covered last time. If a math operation involving integers would result in a non-integer (decimal) value, the result is becomes a float:

In [11]:
1/3  # A third is not a whole number*

0.3333333333333333

In [12]:
type(1/3)  # So the type of the result is not an int

float

# Floats

Floating point numbers or "floats" are numbers with decimal values. Unlike integers, floating point numbers don't have unlimited precision because irrational decimal numbers are infinitely long and therefore can't be stored in memory. Instead, the computer approximates the value of long decimals, so there can be small rounding errors in long floats. This error is so minuscule it usually isn't of concern to us, but it can add up in certain cases when making many repeated calculations.

Every number in Python with a decimal point is a float, even if there are no non-zero numbers after the decimal:

In [13]:
type(1.0)

float

In [14]:
isinstance(2.1, float)

True

In [15]:
a = 5.0 - 1
a

4.0

In [16]:
type(a)

float

The arithmetic operations we learned last time work on floats as well as ints. If you use both floats and ints in the same math expression the result is a float:

In [17]:
5 + 1.0

6.0

You can convert a float to an integer using the int() function:

In [18]:
int(6.0)

6

You can convert an integer to a float with the float() function:

In [19]:
float(6)

6.0

Floats can also take on a few special values: Inf, -Inf and NaN. Inf and -Inf stand for infinity and negative infinity respectively and NaN stands for "not a number", which is sometimes used as a placeholder for missing or erroneous numerical values.

In [20]:
type ( float ("Inf") ) #1/0, 2/0, 3/0

float

In [21]:
type ( float ("NaN") )
# null values

float

*Note: Python contains a third, uncommon numeric data type "complex" which is used to store complex numbers.*

# Booleans

Booleans or "bools" are true/false values that result from logical statements. In Python, booleans start with the first letter capitalized so True and False are recognized as bools but true and false are not. We've already seen an example of booleans when we used the isinstance() function above.

In [23]:
type(True)

bool

In [24]:
isinstance(False, bool)  # Check if False is of type bool

True

You can create boolean values with logical expressions. Python supports all of the standard logic operators you'd expect:

In [25]:
# Use >  and  < for greater than and less than:
    
20 > 10

True

In [26]:
20 < 5

False

In [27]:
# Use >= and  <= for greater than or equal and less than or equal:

20 >= 20

True

In [28]:
# Use == (two equal signs in a row) to check equality:

10 == 10

True

In [29]:
30 != 30.01 #!= not equal

True

In [33]:
40 == 40.00000
# Equivalent ints and floats are considered equal

True

In [34]:
# Use != to check inequality. (think of != as "not equal to")

1 != 2

True

In [35]:
# Use the keyword "not" for negation:

not False

True

In [36]:
# Use the keyword "and" for logical and:

(2 > 1) and (10 > 11)

False

In [37]:
# Use the keyword "or" for logical or:

(2 > 1) or (10 > 11)

True

Similar to math expressions, logical expressions have a fixed order of operations. In a logical statement, comparisons like >, < and == are executed first, followed by "not", then "and" and finally "or". See the following link to learn more: [Python operator precedence](https://docs.python.org/3/reference/expressions.html#operator-precedence). Use parentheses to enforce the desired order of operations.

In [ ]:
2 > 1 or 10 < 8 and not True

In [ ]:
((2 > 1) or (10 < 8)) and (not True)

You can convert numbers into boolean values using the bool() function. All numbers other than 0 convert to True:

In [38]:
bool(1)

True

In [39]:
bool(0)

False

# Strings

Text data in Python is known as a string or "str". Surround text with single or double quotation marks to create a string:

In [45]:
type(" ") #empty strings

str

In [47]:
type('1')

str

In [48]:
type(1)

int

In [51]:
a = 1 
b = "1"

In [57]:
a == float(b)

True

In [58]:
float(b)

1.0

In [ ]:
""
'' - str

In [53]:
type("cat")

str

Two quotation marks right next to each other (such as '' or "") without anything in between them is known as the empty string. The empty string often represents a missing text value.

Numeric data and logical data are generally well-behaved, but strings of text data can be very messy and difficult to work with. Cleaning text data is often one of the most laborious steps in preparing real data sets for analysis. We will revisit strings and functions to help you clean text data in future lesson.