# Working with Methods in Pandas - Part 1

In [1]:
import pandas as pd ; import numpy as np

In [2]:
date=pd.date_range(
    start="2018",end="2019", freq="BM")

In [3]:
ts=pd.Series(
    np.random.randn(len(date)),index=date)
ts

2018-01-31    0.564700
2018-02-28   -0.934600
2018-03-30    1.191473
2018-04-30    0.646392
2018-05-31    0.047729
2018-06-29    0.678134
2018-07-31   -1.463401
2018-08-31   -1.055161
2018-09-28    0.887572
2018-10-31    0.087925
2018-11-30   -0.943662
2018-12-31    0.858955
Freq: BM, dtype: float64

In [4]:
ts.index

DatetimeIndex(['2018-01-31', '2018-02-28', '2018-03-30', '2018-04-30',
               '2018-05-31', '2018-06-29', '2018-07-31', '2018-08-31',
               '2018-09-28', '2018-10-31', '2018-11-30', '2018-12-31'],
              dtype='datetime64[ns]', freq='BM')

## Reading a Time Series DataÂ Set

In [5]:
fb=pd.read_csv("Datasets/FB.csv")

In [6]:
fb.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-07-30,175.300003,175.300003,166.559998,171.059998,171.059998,65280800
1,2018-07-31,170.669998,174.240005,170.000000,172.580002,172.580002,40356500
2,2018-08-01,173.929993,175.080002,170.899994,171.649994,171.649994,34042100
3,2018-08-02,170.679993,176.789993,170.270004,176.369995,176.369995,32400000
4,2018-08-03,177.690002,178.850006,176.149994,177.779999,177.779999,24763400

## Converting date to index

In [7]:
fb.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [8]:
fb=pd.read_csv(
    "Datasets/FB.csv", parse_dates=["Date"])
fb.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-07-30,175.300003,175.300003,166.559998,171.059998,171.059998,65280800
1,2018-07-31,170.669998,174.240005,170.000000,172.580002,172.580002,40356500
2,2018-08-01,173.929993,175.080002,170.899994,171.649994,171.649994,34042100
3,2018-08-02,170.679993,176.789993,170.270004,176.369995,176.369995,32400000
4,2018-08-03,177.690002,178.850006,176.149994,177.779999,177.779999,24763400

In [9]:
fb.dtypes

Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Close               float64
Adj Close           float64
Volume                int64
dtype: object

In [10]:
fb=pd.read_csv(
    "Datasets/FB.csv", 
    parse_dates=["Date"], 
    index_col="Date")
fb.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-07-30,175.300003,175.300003,166.559998,171.059998,171.059998,65280800
2018-07-31,170.669998,174.240005,170.000000,172.580002,172.580002,40356500
2018-08-01,173.929993,175.080002,170.899994,171.649994,171.649994,34042100
2018-08-02,170.679993,176.789993,170.270004,176.369995,176.369995,32400000
2018-08-03,177.690002,178.850006,176.149994,177.779999,177.779999,24763400

In [11]:
fb.index

DatetimeIndex(['2018-07-30', '2018-07-31', '2018-08-01', '2018-08-02',
               '2018-08-03', '2018-08-06', '2018-08-07', '2018-08-08',
               '2018-08-09', '2018-08-10',
               ...
               '2019-07-16', '2019-07-17', '2019-07-18', '2019-07-19',
               '2019-07-22', '2019-07-23', '2019-07-24', '2019-07-25',
               '2019-07-26', '2019-07-29'],
              dtype='datetime64[ns]', name='Date', length=251, freq=None)

In [12]:
fb.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-07-30,175.300003,175.300003,166.559998,171.059998,171.059998,65280800
2018-07-31,170.669998,174.240005,170.000000,172.580002,172.580002,40356500
2018-08-01,173.929993,175.080002,170.899994,171.649994,171.649994,34042100
2018-08-02,170.679993,176.789993,170.270004,176.369995,176.369995,32400000
2018-08-03,177.690002,178.850006,176.149994,177.779999,177.779999,24763400

In [13]:
fb["2019-06"].head(5)

/var/folders/dq/452wvgp96nv2qcc3dn0dv8240000gn/T/ipykernel_850/3020878372.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  fb["2019-06"].head(5)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-06-03,175.000000,175.050003,161.009995,164.149994,164.149994,56059600
2019-06-04,163.710007,168.279999,160.839996,167.500000,167.500000,46044300
2019-06-05,167.479996,168.720001,164.630005,168.169998,168.169998,19758300
2019-06-06,168.300003,169.699997,167.229996,168.330002,168.330002,12446400
2019-06-07,170.169998,173.869995,168.839996,173.350006,173.350006,16917300

## Working with Indexes

In [19]:
fb["2019-06"]["Adj Close"].mean()
# fb["2019-06"].Adj Close.mean()

/var/folders/dq/452wvgp96nv2qcc3dn0dv8240000gn/T/ipykernel_850/1520892280.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  fb["2019-06"]["Adj Close"].mean()

181.27450025000002

In [20]:
fb["2019-07-05":"2019-07-10"]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-07-05,196.179993,197.070007,194.169998,196.399994,196.399994,11164100
2019-07-08,195.190002,196.679993,193.639999,195.759995,195.759995,9723900
2019-07-09,194.970001,199.460007,194.889999,199.210007,199.210007,14698600
2019-07-10,200.000000,202.960007,199.669998,202.729996,202.729996,20571700

In [ ]:
t=pd.to_datetime("7/22/2019")
t

In [ ]:
fb.loc[fb.index>=t,:]

## Dating the Data Set

In [21]:
fb1=pd.read_csv("Datasets/FB-no-date.csv",sep=";")

In [22]:
fb1.head()

        Open       High        Low      Close  Adj Close    Volume
0  162600006  163130005  161690002  162279999  162279999  11097800
1  163899994  167500000  163830002  167369995  167369995  18894700
2  167369995  171880005  166550003  171259995  171259995  28187900
3  172899994  173570007  171270004  172509995  172509995  21531700
4  171500000  171740005  167610001  169130005  169130005  18306500

In [23]:
dates=pd.date_range(start="03/01/2019", 
                    end="03/29/2019", 
                    freq="B") 
dates

DatetimeIndex(['2019-03-01', '2019-03-04', '2019-03-05', '2019-03-06',
               '2019-03-07', '2019-03-08', '2019-03-11', '2019-03-12',
               '2019-03-13', '2019-03-14', '2019-03-15', '2019-03-18',
               '2019-03-19', '2019-03-20', '2019-03-21', '2019-03-22',
               '2019-03-25', '2019-03-26', '2019-03-27', '2019-03-28',
               '2019-03-29'],
              dtype='datetime64[ns]', freq='B')

In [24]:
fb1.set_index(dates,inplace=True)

In [25]:
fb1.head()

                 Open       High        Low      Close  Adj Close    Volume
2019-03-01  162600006  163130005  161690002  162279999  162279999  11097800
2019-03-04  163899994  167500000  163830002  167369995  167369995  18894700
2019-03-05  167369995  171880005  166550003  171259995  171259995  28187900
2019-03-06  172899994  173570007  171270004  172509995  172509995  21531700
2019-03-07  171500000  171740005  167610001  169130005  169130005  18306500

In [26]:
fb1.index

DatetimeIndex(['2019-03-01', '2019-03-04', '2019-03-05', '2019-03-06',
               '2019-03-07', '2019-03-08', '2019-03-11', '2019-03-12',
               '2019-03-13', '2019-03-14', '2019-03-15', '2019-03-18',
               '2019-03-19', '2019-03-20', '2019-03-21', '2019-03-22',
               '2019-03-25', '2019-03-26', '2019-03-27', '2019-03-28',
               '2019-03-29'],
              dtype='datetime64[ns]', freq='B')