# What is Groupby in Pandas?

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.DataFrame(
    {"key1":list("aabbab"),
     "key2":["one","two","three"]*2,
     "data1":np.random.randn(6),
     "data2":np.random.randn(6)})
df

  key1   key2     data1     data2
0    a    one -0.842679  0.089210
1    a    two  0.864754 -1.152050
2    b  three -0.081820 -1.393276
3    b    one -1.976955  0.629770
4    a    two  0.372295  0.944384
5    b  three -0.621931 -1.812209

In [18]:
df["data1"].groupby(df[["key1","key2"]]).median()

ValueError: Grouper for '<class 'pandas.core.frame.DataFrame'>' not 1-dimensional

In [3]:
group=df["data1"].groupby(df["key1"])

In [4]:
group

In [5]:
group.mean()

key1
a    0.131457
b   -0.893568
Name: data1, dtype: float64

In [19]:
df.head()

  key1   key2     data1     data2
0    a    one -0.842679  0.089210
1    a    two  0.864754 -1.152050
2    b  three -0.081820 -1.393276
3    b    one -1.976955  0.629770
4    a    two  0.372295  0.944384

In [21]:
ave=df["data1"].groupby([df["key1"],
                         df["key2"]]).mean()
ave

key1  key2
a     one     -0.842679
      two      0.618525
b     one     -1.976955
      three   -0.351875
Name: data1, dtype: float64

In [22]:
type(ave)

pandas.core.series.Series

In [24]:
ave.unstack()

key2       one     three       two
key1
a    -0.842679       NaN  0.618525
b    -1.976955 -0.351875       NaN

In [8]:
df.groupby("key1").mean()

         data1     data2
key1
a     0.131457 -0.039485
b    -0.893568 -0.858572

In [9]:
df.groupby(["key1","key2"]).mean()

               data1     data2
key1 key2
a    one   -0.842679  0.089210
     two    0.618525 -0.103833
b    one   -1.976955  0.629770
     three -0.351875 -1.602743

## Selecting a Column or Subset of Columns

In [10]:
df.groupby(['key1', 
            'key2'])[['data1']].mean()

               data1
key1 key2
a    one   -0.842679
     two    0.618525
b    one   -1.976955
     three -0.351875

## Grouping with Functions

In [11]:
fruit.groupby(len).sum()

NameError: name 'fruit' is not defined

## Grouping by Index Levels

In [ ]:
data=pd.DataFrame(np.random.randn(4,5),
                  columns=[list("AAABB"),
                           [1,2,3,1,2]])

In [ ]:
data.columns.names=["letter","number"]
data

In [ ]:
data.groupby(level="letter",axis=1).sum()

## Application with Real Data Set

In [ ]:
game=pd.read_csv("DataSets/vgsalesGlobale.csv")

In [ ]:
game.head()

In [ ]:
game.dtypes

In [ ]:
game.dropna().describe()

In [ ]:
game.Global_Sales.mean()

In [ ]:
group=game.groupby("Genre")

In [ ]:
game.groupby("Genre").count()

In [ ]:
group["Global_Sales"].count()

In [ ]:
group["Global_Sales"].describe()

In [ ]:
game[game.Genre=="Action"].Global_Sales.mean()

In [ ]:
group.mean()