# Working with Text Data

In [1]:
"hello".upper()

'HELLO'

## Vectorized String Functions

In [2]:
import pandas as pd
import numpy as np

In [3]:
data=["tim","Kate","SUSan",np.nan,"aLEX"]
data

['tim', 'Kate', 'SUSan', nan, 'aLEX']

In [4]:
name=pd.Series(data)
name

0      tim
1     Kate
2    SUSan
3      NaN
4     aLEX
dtype: object

In [5]:
name.str.capitalize()

0      Tim
1     Kate
2    Susan
3      NaN
4     Alex
dtype: object

In [6]:
name.str.lower()

0      tim
1     kate
2    susan
3      NaN
4     alex
dtype: object

In [7]:
name.str.len()

0    3.0
1    4.0
2    5.0
3    NaN
4    4.0
dtype: float64

In [8]:
name.str.startswith("a")

0    False
1    False
2    False
3      NaN
4     True
dtype: object

In [9]:
df=pd.DataFrame(
    np.random.randn(3,2),
    columns=["Column A","Column B"],
    index=range(3))
df

   Column A  Column B
0 -0.443682  0.777096
1 -0.927890  0.958802
2  1.664925 -0.792972

In [10]:
df.columns

Index(['Column A', 'Column B'], dtype='object')

In [11]:
df.columns.str.lower().str.replace(" ","_")

Index(['column_a', 'column_b'], dtype='object')

In [ ]:
s=pd.Series(["a_b_c","c_d_e",np.nan,"f_g_h"])
s

In [ ]:
s.str.split("_").str[1]

In [ ]:
s.str.split("_",expand=True,n=1)

In [ ]:
money=pd.Series(["15","-$20","$30000"])
money

In [ ]:
money.str.replace("-","")

In [12]:
film=pd.read_csv("http://bit.ly/imdbratings")

In [13]:
film.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [ ]:
film.title.str.upper()

In [ ]:
film.columns=film.columns.str.capitalize()

In [ ]:
film.head()

In [ ]:
film[film.Actors_list.str.contains(
    "Brad Pitt")]

In [ ]:
film.Actors_list.str.replace("[","")

In [ ]:
film.Actors_list.str.replace(
    "[","").str.replace("]","")

In [14]:
a = "A_b+C__d..12"

In [ ]:
a.replace().replace.replace.replace