# Python for Data 7: Dictionaries and Sets

## Dictionaries

A [dictionary](https://docs.python.org/3.7/tutorial/datastructures.html#dictionaries) or dict is an object that maps a set of named indexes called keys to a set of corresponding values. Dictionaries are mutable, so you can add and remove keys and their associated values. A dictionary's keys must be immutable objects, such as ints, strings or tuples, but the values can be anything.

Create a dictionary with a comma-separated list of key: value pairs within curly braces:

In [ ]:
list  = []
tuple = ()
dict  = {}

In [35]:
my_dict = {"name": "Joe",
           "age" : 10, 
           "city": "Paris"}

print(my_dict)

{'name': 'Joe', 'age': 10, 'city': 'Paris'}

Notice that in the printed dictionary, the items don't appear in the same order as when we defined it, since dictionaries are unordered. Index into a dictionary using keys rather than numeric indexes:

In [38]:
my_dict["city"]

'Paris'

Add new items to an existing dictionary with the following syntax:

In [58]:
my_dict["new_key"] = "new_value"
my_dict["abc"] = "new"

print(my_dict)

{'name': 'Joe', 'age': 10, 'city': 'Paris', 'new_key': 'new_value', 'abc': 'new'}

Delete existing key: value pairs with del:

In [50]:
del my_dict["new_key"]

print(my_dict)

{'name': 'Joe', 'age': 10, 'city': 'Paris'}

Check the number of items in a dict with len():

In [51]:
len(my_dict)

3

Check whether a certain key exists with "in":

In [53]:
"new_key" in my_dict

False

You can access all the keys, all the values or all the key: value pairs of a dictionary with the keys(), value() and items() functions respectively:

In [55]:
my_dict.keys()

dict_keys(['name', 'age', 'city'])

In [56]:
my_dict.values()

dict_values(['Joe', 10, 'Paris'])

In [57]:
my_dict.items()

dict_items([('name', 'Joe'), ('age', 10), ('city', 'Paris')])

Real world data often comes in the form tables of rows and columns, where each column specifies a different data feature like name or age and each row represents an individual record. We can encode this sort of tabular data in a dictionary by assigning each column label a key and then storing the column values as a list.

Consider the following table:

name  &nbsp; &nbsp;&nbsp;age      &nbsp;&nbsp;&nbsp;city  <br>
Joe  &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;10     &nbsp;&nbsp;&nbsp;&nbsp; Paris <br>
Bob   &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;15     &nbsp; &nbsp;&nbsp;&nbsp;New York <br>
Harry  &nbsp;&nbsp; &nbsp;20      &nbsp;&nbsp;&nbsp; Tokyo

We can store this data in a dictionary like so:

In [10]:
my_table_dict = {"name": ["Joe", "Bob", "Harry"],
                 "age": [10,15,20], 
                 "city": ["Paris", "New York", "Tokyo"]}

In [59]:
my_table_dict

{'name': ['Joe', 'Bob', 'Harry'],
 'age': [10, 15, 20],
 'city': ['Paris', 'New York', 'Tokyo']}

In [61]:
my_table_dict.items()

dict_items([('name', ['Joe', 'Bob', 'Harry']), ('age', [10, 15, 20]), ('city', ['Paris', 'New York', 'Tokyo'])])

## Sets

Sets are unordered, mutable collections of immutable objects that cannot contain duplicates. Sets are useful for storing and performing operations on data where each value is unique.
Create a set with a comma separated sequence of values within curly braces:

In [ ]:
lists []
tuple ()
dict {key : value}
Sets {}

In [63]:
my_set = {1,2,3,4,5,6,7}
print(type(my_set))
print(my_set)

<class 'set'>
{1, 2, 3, 4, 5, 6, 7}

Add and remove items from a set with add() and remove() respectively:

In [13]:
my_set.add(8)

my_set

{1, 2, 3, 4, 5, 6, 7, 8}

In [14]:
my_set.remove(7)

my_set

{1, 2, 3, 4, 5, 6, 8}

Sets do not support indexing, but they do support basic sequence functions like len(), min(), max() and sum(). You can also check membership and non-membership as usual with in:

In [15]:
10 in my_set

False

One of the main purposes of sets is to perform set operations that compare or combine different sets. Python sets support many common mathematical set operations like union, intersection, difference and checking whether one set is a subset of another:

In [16]:
set1 = {1,3,5,6}
set2 = {1,2,3,4}

set1.union(set2)          # Get the union of two sets

{1, 2, 3, 4, 5, 6}

In [17]:
set1.intersection(set2)   # Get the intersection of two sets

{1, 3}

In [18]:
set1.difference(set2)     # Get the difference between two sets

{5, 6}

In [19]:
set1.issubset(set2)       # Check whether set1 is a subset of set2

False

You can convert a list into a set using the set() function. Converting a list to a set drops any duplicate elements in the list. This can be a useful way to strip unwanted duplicate items or count the number of unique elements in a list. I can also be useful to convert a list to a set if you plan to lookup items repeatedly, since membership lookups are faster with sets than lists.

In [20]:
my_list = [1,2,2,2,3,3,4,5,5,5,6]

In [21]:
set(my_list)

{1, 2, 3, 4, 5, 6}

In [22]:
print('10 ' *5)

10 10 10 10 10

In [23]:
print(int(10)*5)

50

In [67]:
print(10*5)

50

In [73]:
print('--'*30)

------------------------------------------------------------