# 1. For Loop

### loops over a range of something - numbers, string, list, etc. 

- You know exactly the number of steps
- You won't fall into an infinite
- The index variable is automatically incremented

The for loop specifies

- the variable name to use
- the set of values to loop over 
- You use the word "in" to link them together.

The object to the right of the "in" can be any object that supports iteration. Basically, if it can be thought of as a group of things, you can probably loop over it. In addition to lists, we can iterate over the elements of a tuple

Let's try some examples!

In [3]:
#Your Code Goes Here
#Looping through characters of a string

s2 = 'Toronto'

for x in s2:
    print(x.lower())

t
o
r
o
n
t
o

In [4]:
for x in range(0, 7):
    print(x)

0
1
2
3
4
5
6

In [5]:
#Your Code Goes Here
for x in range(3, 100, 5):
    print(x)

3
8
13
18
23
28
33
38
43
48
53
58
63
68
73
78
83
88
93
98

In [7]:
import pandas as pd, numpy as np

In [8]:
df = pd.read_csv("Datasets/FB.csv")

In [13]:
df.set_index(["Date"],inplace=True)

In [14]:
df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-07-30,175.300003,175.300003,166.559998,171.059998,171.059998,65280800
2018-07-31,170.669998,174.240005,170.000000,172.580002,172.580002,40356500
2018-08-01,173.929993,175.080002,170.899994,171.649994,171.649994,34042100
2018-08-02,170.679993,176.789993,170.270004,176.369995,176.369995,32400000
2018-08-03,177.690002,178.850006,176.149994,177.779999,177.779999,24763400

In [21]:
df["Open"].astype(int)

Date
2018-07-30    175
2018-07-31    170
2018-08-01    173
2018-08-02    170
2018-08-03    177
             ...
2019-07-23    202
2019-07-24    197
2019-07-25    206
2019-07-26    200
2019-07-29    199
Name: Open, Length: 251, dtype: int64

In [15]:
df.columns

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [24]:
for i in df.columns:
    df[i] = df[i].astype(int)

In [25]:
df.head()

            Open  High  Low  Close  Adj Close    Volume
Date
2018-07-30   175   175  166    171        171  65280800
2018-07-31   170   174  170    172        172  40356500
2018-08-01   173   175  170    171        171  34042100
2018-08-02   170   176  170    176        176  32400000
2018-08-03   177   178  176    177        177  24763400

In [ ]:
1000 columns
600 float -- fillna(median)
400 object

In [ ]:
for i in df.colums :
    if i.dtype == "float":
        df[i].fillna(df[i].median)

In [ ]:
1,2,3,4,5,6,7,8,9,10
filter all even variables

In [27]:
5%2

1

# 2. While Loop

### loops until a specific condition is satisified

- You don't know the number of steps
- You can fall into an infinite loop.
- You must explicitely increment the index variable

Let's try some examples!

In [30]:
### Your Code Goes Here
### With the while loop, we can execute a set of statements as long as a condition is true

i = 1
while (i < 6):
    print(i)
    i +=1
    #i = i+1

1
2
3
4
5

# 3. Using break and continue in loops

You can also exit and skip parts of a loop using the `break` and `continue` command. This can be used on for loops and while loops

In [ ]:
#Your Code Goes Here

i = 0
while(i < 6):
    print(i)
    if (i == 4):
        break
    else:
        i+=1

In [ ]:
x = 'Toronto'
for x in s2:
    print(x)
    if (x == 'o'):
        break